@page "/inventory"

@using MudBlazor
@using BikeSparesInventorySystem.Data.Models;
@inject BikeSparesInventorySystem.Data.Repositories.Repository<Spare> SpareRepository;
@inject BikeSparesInventorySystem.Data.Repositories.Repository<ActivityLog> ActivityLogRepository;
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<MudTable Elevation="0" Items="@Elements" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ? "75vh" : "")" Dense="@dense" Hover="@hover" ReadOnly="@ronly" CanCancelEdit="@canCancelEdit" Filter="new Func<Spare,bool>(FilterFunc)"
          @bind-SelectedItem="selectedItem1" SortLabel="Sort By" CommitEditTooltip="Commit Edit"
          OnPreviewEditClick="@(() => SpareDescTracks[selectedItem1.Id] = false)"
          RowsPerPage="20"
          OnCommitEditClick="@(() => Snackbar.Add("User Updated!", Severity.Success))" RowEditPreview="BackupItem" RowEditCancel="ResetItemToOriginalValues"
          IsEditRowSwitchingBlocked="@blockSwitch" ApplyButtonPosition="@applyButtonPosition" EditButtonPosition="@editButtonPosition" EditTrigger="@editTrigger">
    <ToolBarContent>
        <MudFab StartIcon="@Icons.Filled.Add" Color="Color.Primary" Label="Add Spare" DisableElevation="true" OnClick="AddDialog" />
        <MudSpacer />
        <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Clearable="true"></MudTextField>
    </ToolBarContent>
    <ColGroup>
        <col />
        <col />
        <col width="400" />
        <col />
        <col />
        <col/>
        <col/>
    </ColGroup>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<Spare, object>(x=>x.Id)">ID</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Spare, object>(x=>x.Name)">Spare Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Spare, object>(x=>x.Description)">Description</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Spare, object>(x=>x.Company)">Company</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Spare, object>(x=>x.Price)">Price</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<Spare, object>(x=>x.AvailableQuantity)">Available Quantity</MudTableSortLabel></MudTh>
        <MudTh>Last Taken Out</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="ID">
            <MudChip>@context.Id</MudChip>
            </MudTd>
        <MudTd DataLabel="Spare Name">@context.Name</MudTd>
        <MudTd>
            <MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => ShowBtnPress(@context.Id))">
                @((getShow(@context.Id)) ? "Hide" : "Show") Description
            </MudButton>
        </MudTd>      
        <MudTd DataLabel="Company">@context.Company</MudTd>
        <MudTd DataLabel="Price">Rs. @context.Price</MudTd>
        <MudTd DataLabel="Available Quantity">@context.AvailableQuantity</MudTd>
        <MudTd DataLabel="Last Taken Out">@getLastTakenOut(context.Id)</MudTd>
    </RowTemplate>
    <ChildRowContent>
        @if (getShow(@context.Id))
        {
            <td colspan="6">
                <MudContainer MaxWidth="MaxWidth.Medium">                    
                    <MudText Style="padding: 40px">@context.Description</MudText>                            
                </MudContainer>
            </td>
        }
    </ChildRowContent>
    <RowEditingTemplate>
        <MudTd DataLabel="ID">@context.Id</MudTd>
        <MudTd DataLabel="Spare Name">
            <MudTextField @bind-Value="@context.Name" Required />
        </MudTd>
        <MudTd DataLabel="Description">
            <MudTextField Lines="6" @bind-Value="@context.Description" Required />
        </MudTd>
        <MudTd DataLabel="Company">
            <MudTextField @bind-Value="@context.Company" Required/>
        </MudTd>
        <MudTd DataLabel="Price">
            <MudTextField @bind-Value="@context.Price" Required />
        </MudTd>
        <MudTd DataLabel="Available Quantity">
            <MudTextField @bind-Value="@context.AvailableQuantity" Required />
        </MudTd>
        <MudTd DataLabel="Last Taken Out">@getLastTakenOut(context.Id)</MudTd>
    </RowEditingTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 20, 45, 65, 100}" />
    </PagerContent>    
</MudTable>