@page "/change-password"
@layout MainLayout

@inject BikeSparesInventorySystem.Services.AuthService _authService
@inject Microsoft.AspNetCore.Components.NavigationManager _navigationManager
@inject ISnackbar SnackBar

<div style="height: calc(100vh - 64px)" class="d-flex justify-center align-center">
    <MudPaper Class="pa-6" Width="60vh">
        @if (_authService.CurrentUser.HasInitialPassword)
        {
            <MudStack Row="true" Spacing="2">
                <MudIcon Icon="@Icons.Material.Filled.Warning" Color="Color.Warning" />
                <MudText Color="Color.Warning"> Initial password detected! </MudText>
            </MudStack>
        }
        <MudForm @ref="Form" >
            <MudTextField T="string" Label="Current Password" @bind-Value="@CurrentPassword" InputType="InputType.Password" Required="true"/>
            <MudTextField T="string" Label="New Password" @bind-Value="@NewPassword" Required="true" InputType="InputType.Password" Validation="@(new Func<string, IEnumerable<string>>(Hasher.PasswordStrength))" />
            <MudStack Row="true" Class="mt-6 justify-end">
                <MudButton Variant="Variant.Filled" Color="Color.Default" DisableElevation="true" OnClick="@(()=>Form.ResetAsync())">Reset</MudButton>                                    
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@ChangePasswordHandler">Change</MudButton>
            </MudStack>
            </MudForm>   
    </MudPaper>
</div>
